*.ipch
gra_assignment1/Debug/Obj/10-rp_dennis_posed_004_3dm_free3d.zip
*.mtl
*.png
*.obj
*.zip
*.obj
*.obj
gra_assignment1/gra_assignment1/Naruto yells believe it.mp3
*.bmp
gra_assignment1/gra_assignment1/naruto.wav
*.rar
gra_assignment1/gra_assignment1/Texture/10602_Rubber_Duck_v1_diffuse.jpg
*.old
*.tlog
*.log